@font-face {
	font-family: 'Samsung Sans';
	font-style: normal;
	font-weight: normal;
	src: local( 'Samsung Sans Regular' ), url( '../fonts/SamsungSans-Regular.woff' ) format( 'woff' );
}

body {
	font-family: 'Samsung Sans';
	font-size: 15px;
}

* {
	-webkit-backface-visibility: hidden;
	text-shadow: none;
}

.navbar {
	height: 50px;
	background: #d97c0d;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.12 ), 0 1px 2px rgba( 0, 0, 0, 0.24 );
}

	.toolbar-fixed .navbar {
		box-shadow: none;
	}

		.toolbar-fixed .toolbar {
			top: 50px;
			background: #d97c0d;
			font-size: 11px;
			box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.12 ), 0 1px 2px rgba( 0, 0, 0, 0.24 );
		}

	.navbar .center {
		line-height: 50px;
		font-size: 17px;
	}

	.navbar .left a i,
	.navbar .right a i {
		line-height: 50px;
		font-size: 17px;
	}

	.navbar-fixed.toolbar-fixed .page-content,
	.navbar-fixed.tabbar-fixed .page-content,
	.navbar-fixed .toolbar-fixed .page-content,
	.navbar-fixed .tabbar-fixed .page-content,
	.toolbar-fixed .navbar-fixed .page-content,
	.tabbar-fixed .navbar-fixed .page-content {
	  padding-top: 96px;
	}

.navbar-fixed .page-content {
	padding-top: 50px;
}

.searchbar {
	background: rgba( 291, 126, 0, 0.8 );
}

	.searchbar input[type="search"] {
		font-size: 15px;
	}

.content-block,
.list-block {
	margin-top: 16px;
	margin-bottom: 16px;
}

	.item-content {
		padding-left: 0px;
	}

	.button {
		text-transform: none;
		height: 38px;
		line-height: 38px;
		font-size: 15px;
	}

	.list-block .input-item .item-inner:not(.focus-state):not(.not-empty-state) .floating-label,
	.list-block.inputs-list .item-inner:not(.focus-state):not(.not-empty-state) .floating-label {
		-webkit-transform: scale( 1.15 ) translateY( 21px );
		transform: scale( 1.15 ) translateY( 21px );
	}

	.list-block input[type="text"],
	.list-block input[type="password"],
	.list-block input[type="search"],
	.list-block input[type="email"],
	.list-block input[type="tel"],
	.list-block input[type="url"],
	.list-block input[type="date"],
	.list-block input[type="datetime-local"],
	.list-block input[type="time"],
	.list-block input[type="number"],
	.list-block select,
	.list-block textarea {
		font-size: 15px;
	}

	.list-block .input-item .label,
	.list-block.inputs-list .label,
	.list-block .input-item .floating-label,
	.list-block.inputs-list .floating-label {
		width: 100%;
		font-size: 14px;
	}

	.item-media i {
		opacity: 0.6;
	}

	.item-content .item-inner:nth-child(2) {
		margin-left: 0;
	}

.modal {
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ( 0 ) scale( 1.0, 1.0 );
    transform: translateZ( 0 );
	font-smoothing: antialiased !important;
}

	.modal-inner {
		padding: 16px;
	}

		.modal-title {
			font-size: 17px;
		}

		.modal-text {
			margin-top: 16px;
			font-size: 15px;
		}

.login-screen,
.login-screen-content  {
	background: #d97c0d;
	color: #ffffff;
}

.modal-button,
.modal-buttons .button {
	color: #d97c0d;
}

	.login-screen .list-block input[type="text"],
	.login-screen .list-block input[type="password"],
	.login-screen .list-block input[type="search"],
	.login-screen .list-block input[type="email"],
	.login-screen .list-block input[type="tel"],
	.login-screen .list-block input[type="url"],
	.login-screen .list-block input[type="date"],
	.login-screen .list-block input[type="datetime-local"],
	.login-screen .list-block input[type="time"],
	.login-screen .list-block input[type="number"],
	.login-screen .list-block select,
	.login-screen .list-block textarea {
		color: #ffffff;
	}

	.login-screen .item-media i {
		font-size: 23px;
	}

	.list-block .input-item .item-inner .floating-label,
	.list-block.inputs-list .item-inner .floating-label {
		color: #58585a;
	}

	.login-screen .list-block .input-item .item-inner .floating-label,
	.login-screen .list-block.inputs-list .item-inner .floating-label {
		color: #ffffff;
	}

		.login-screen .item-input-field:not(.focus-state):after {
			background-color: rgba( 255, 255, 255, 0.4 );
		}

		.login-screen .item-input-field.focus-state:after {
			background-color: rgba( 255, 255, 255, 1 );
		}

		.login-screen .list-block .list-button {
			text-align: center;
			font-size: 15px;
			margin-top: -8px;
		}

			.login-screen .list-block .list-button i {
				vertical-align: middle;
				opacity: 0.6;
				font-size: 25px;
			}

	#setup-loader {
		display: table;
		margin: 0 auto;
		opacity: 0;
	}

	#setup-status {
		position: fixed;
		left: 16px;
		right: 16px;
		bottom: 32px;
		text-align: center;
	}

	#setup-status em {
		display: inline-block;
		width: 20px;
		text-align: left;
	}

[data-page="dashboard"] .page-content .row:not(:last-child) {
	border-bottom: 1px solid #f8f8f8;
	margin-bottom: 0;
}

	[data-page="dashboard"] .page-content .row > * {
		text-align: center;
		border-right: 1px solid #f8f8f8;
		padding: 22px 5px 10px 5px;
		font-weight: 500;
		font-size: 15px;
		display: block;
		color: #444;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 50%;
		height: auto !important;
	}

		[data-page="dashboard"] .page-content .row > * i {
			font-size: 38px;
			display: block;
			color: #d97c0d;
			margin-bottom: -3px;
		}

		[data-page="dashboard"] .page-content .row > * span {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			margin: 0 auto;
			width: 90% !important;
		}

.no-margin {
	margin-top: 0px;
	margin-bottom: 0px;
}

.list-block {
	font-size: 15px;
}

.floating-button {
	width: 50px;
	height: 50px;
	background: #d97c0d;
}

	.floating-button.active-state {
		background: #045f03;
	}

.list-block .item-inner {
	padding-top: 12px;
	padding-bottom: 12px;
}

.avatar-list-block ul li .item-media img {
	border-radius: 100%;
	height: 44px;
	width: 44px;
}

.avatar-list-block ul li .item-inner {
	margin-left: 16px !important;
}

	.avatar-list-block ul li .item-inner .item-title {
		color: #d97c0d;
	}

	.avatar-list-block ul li .item-inner .item-subtitle {
		opacity: 0.8;
	}

.app-form {
	padding-bottom: 20px;
}

.app-form .list-block .input-item .item-inner .label,
.app-form .list-block.inputs-list .item-inner .label {
	color: #444444;
}

	.modal .input-field:not(.focus-state):after,
	.app-form .item-input-field:not(.focus-state):after {
		background-color: rgba( 0, 0, 0, 0.2 );
	}

	.modal .input-field.focus-state:after,
	.app-form .item-input-field.focus-state:after {
		background-color: rgba( 291, 126, 0, 1 );
	}

.account_setup_form {
	margin: 0 -16px;
}

	.account_setup_form.list-block ul:before {
		content: '';
		height: 0;
	}

.app-form .form-button.button.button-fill {
	height: 40px;
	line-height: 40px;
	background-color: #d97c0d;
}

.modal-preloader .modal-title {
	display: none;
}

.label-switch input[type="checkbox"]:checked + .checkbox {
	background: rgba( 291, 126, 0, 0.5 );
}

	.label-switch input[type="checkbox"]:checked + .checkbox:after {
		background: rgba( 291, 126, 0, 0.9 );
	}

.inline-switch {
	margin-top: -7px;
	float: right;
}

.tabbar a.tab-link,
.tabbar a.link {
	font-size: 14px;
}

.form-title {
	text-transform: uppercase;
	padding-top: 0;
	font-size: 12px;
}

.modal-preloader .modal-title {
	display: none;
}

.modal-preloader .modal-text {
	margin-top: 6px;
}

.has-flip-switch {
	clear: both;
	margin-top: 7px;
	margin-bottom: -25px;
}

	.has-flip-switch .item-inner {
		padding-right: 48px;
	}

	.has-flip-switch .item-input {
		border: none;
		margin-bottom: 0px;
	}

		.has-flip-switch .item-input label {
			margin-top: -30px;
			margin-right: -32px;
		}

	.has-flip-switch .item-input:after {
		height: 0px;
	}

	.form-title {
		text-transform: uppercase;
		padding-top: 0;
		font-size: 12px;
	}

	.modal-button,
	.modal-buttons .button {
		font-size: 15px;
	}

	.gps-field .item-input {
		position: relative;
	}

		.gps-field .button {
			position: absolute;
			top: -3px;
			right: 0;
			bottom: 3px;
			padding-left: 16px;
			padding-right: 16px;
			min-width: auto;
			width: auto;
		}

			.gps-field .button i {
				line-height: 38px;
				color: #d97c0d;
			}

			.gps-field .button.reading i {
				color: #888888;
			}

	.modal-buttons {
		height: 58px;
		padding-left: 16px;
		padding-right: 16px;
	}

.checkbox-list label {
	height: 48px;
}

	.checkbox-list ul {
		padding-left: 0px !important;
		margin-left: -16px;
		margin-top: 12px;
	}

label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox input[type="checkbox"]:checked ~ .item-after i.icon-form-checkbox,
label.label-checkbox input[type="radio"]:checked ~ .item-after i.icon-form-checkbox,
label.label-checkbox input[type="checkbox"]:checked ~ .item-inner i.icon-form-checkbox,
label.label-checkbox input[type="radio"]:checked ~ .item-inner i.icon-form-checkbox {
	border-color: #d97c0d;
	background-color: #d97c0d;
}

	label.label-checkbox .item-inner {
		margin-left: -10px !important;
	}

.smart-select-page .list-block {
	margin-top: 0px;
}

.photo-field .label,
.photo-field .swiper-container  {
	margin-bottom: 13px;
}

.photo-field .swiper-pagination-bullet-active {
	background: #d97c0d;
}

.photo-field .button {
	color: #d97c0d;
}

.notifications {
	margin-bottom: 0px;
}

	.notifications .item-content {
		padding-left: 16px;
	}

	.notifications .item-inner {
		padding: 2px 16px 2px 0;
	}

.smart-select .item-title {
	font-size: 14px !important;
}
